body {
	padding: 0;
	margin: 0;
}

.vh-100 {
	min-height: 100vh;
}

.top_1 {
	background: #000;
	margin: 0;
	padding: 5px 15px;
	color: #fff;
}

.top_2 {
	background: #b3dcf3;
	margin: 0;
	padding: 15px 25px;
	color: #000;
}

.top_1 a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}

 nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      padding: 10px;
      background-color: #1a1818;
    }

#center {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
	padding: 10px;
}

#first {
	font-size: 60px;
	margin: 0;
	font-weight: 400;
}

#second {
	font-size: 25px;
	font-weight: 400;
}

form {
    width: 100%;
    max-width: 600px;
	margin: 0;
	padding: 0;
}

.input_form {
	height: 50px;           /* высота поля */
    font-size: 18px;      /* размер текста внутри */
    padding: 0 15px;       /* внутренние отступы */
    border-radius: 8px;   /* скругление углов */
    width: 70%;        
}

.sub_form {
	height: 50px;
    font-size: 18px;
    padding: 0 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}

.center_show {
	width: 90%;
	max-width: 1200px;
	margin: 10px auto;
}

.container_lg {
	width: 90%;
	margin: 0 auto;
}