body {
	margin: 0;
	padding: 0;
}

header {
	background: #000;
	margin: 0;
	padding: 5px 15px;
	color: #fff;
}

header a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

 nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      padding: 10px;
      background-color: #1a1818;
    }

#center {
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
	padding: 10px;
}

#first {
	font-size: 60px;
	margin: 0;
	font-weight: 400;
}

#second {
	font-size: 25px;
	font-weight: 400;
}

form {
    width: 100%;
    max-width: 600px;
	margin: 0;
	padding: 0;
}

.input_form {
	height: 50px;           /* высота поля */
    font-size: 18px;      /* размер текста внутри */
    padding: 0 15px;       /* внутренние отступы */
    border-radius: 8px;   /* скругление углов */
    width: 70%;        
}

.sub_form {
	height: 50px;
    font-size: 18px;
    padding: 0 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}