<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Анализатор страниц</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body class="vh-100">
  <header class="top_1">
    <nav>
		<a href="{{ url_for('index') }}">Анализатор страниц</a>
		<a href="{{ url_for('get_urls_list')}}">Сайты</a>
    </nav>
  </header>
  {% if errors %}
  {% for _, error in errors.items() %}
  <div class="top_2">{{ error}}</div>
  {% endfor %}
  {% endif %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="top_2">{{ message }}</div>
  {% endfor %}
  {% endif %}
  <main>
    <div class="container_lg">
		<h1 class="center_show">{% block title %}{% endblock %}</h1>
      {% block content %}{% endblock %}
    </div>
  </main>
</body>

</html>